.arrow {
  --colour: var(--mantine-color-primary-6);

  @mixin dark {
    --colour: var(--mantine-color-tertiary-0);
  }

  position: absolute;
  bottom: 10px;
  left: 50%;
  border: 4px solid var(--colour);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  opacity: 0.15;

  &__icon {
    color: var(--colour);
  }
}
