* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  font-size: 16px;
}

body {
  animation-name: animateBg;
  animation-delay: 0s;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: both;
  background-image: linear-gradient(
    135deg,
    var(--mantine-color-light-1),
    var(--mantine-color-light-3),
    var(--mantine-color-light-5),
    var(--mantine-color-light-7)
  );
  background-size: 400% 400%;
  background-position: 0% 100%;

  @mixin dark {
    background-image: linear-gradient(
      45deg,
      var(--mantine-color-dark-8),
      var(--mantine-color-dark-7),
      var(--mantine-color-dark-6),
      var(--mantine-color-dark-5)
    );
  }
}

@keyframes animateBg {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

::selection {
  background-color: blueviolet;
  color: gold;
  transition: 0.2s ease;
}

::-webkit-scrollbar-track {
  position: absolute;
  border: none;
  background-color: green;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: firebrick;
  border-radius: 2px;
}
