* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  font-size: 16px;
}

body {
}

::selection {
  background-color: blueviolet;
  color: gold;
  transition: 0.2s ease;
}

::-webkit-scrollbar-track {
  position: absolute;
  border: none;
  background-color: green;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: firebrick;
  border-radius: 2px;
}
