:root {
  --font-family-heading: var(--font-sensation);
  --font-family-body: var(--font-montserrat);
  --font-family-cursive: var(--font-daniel);

  --colour-text: var(--mantine-color-primary-9);
  --colour-text-dark: var(--mantine-color-primary-0);

  --colour-title: var(--mantine-color-primary-6);
  --colour-title-dark: var(--mantine-color-secondary-1);

  --colour-anchor: var(--mantine-color-secondary-5);
  --colour-anchor-dark: var(--mantine-color-tertiary-2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  animation-name: animateBg;
  animation-delay: 0s;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: both;
  background-image: linear-gradient(
    135deg,
    var(--mantine-color-white),
    var(--mantine-color-primary-0),
    var(--mantine-color-primary-1),
    var(--mantine-color-primary-2)
  );
  background-size: 400% 400%;
  background-position: 0% 100%;
  color: var(--colour-text);

  @mixin dark {
    background-image: linear-gradient(
      135deg,
      var(--mantine-color-black),
      var(--mantine-color-primary-11),
      var(--mantine-color-primary-10)
    );
    color: var(--colour-text-dark);
  }
}

@keyframes animateBg {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

::selection {
  background-color: var(--mantine-color-secondary-7);
  color: var(--mantine-color-primary-0);
  transition: 0.2s ease;

  @mixin dark {
    background-color: var(--mantine-color-tertiary-5);
    color: var(--mantine-color-secondary-8);
  }
}

::-webkit-scrollbar-track {
  position: absolute;
  border: none;
  border-radius: 2px;
  background-color: var(--mantine-color-primary-4);

  @mixin dark {
    background-color: var(--mantine-color-primary-2);
  }
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--mantine-color-primary-6);

  @mixin dark {
    background-color: var(--mantine-color-primary-7);
  }
}
