.light-only {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.dark-only {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.container-padding {
  padding: 0 var(--mantine-spacing-md);
}
