.anchor {
  background-clip: text;
  background-image: linear-gradient(
    to right,
    var(--mantine-color-primary-5),
    var(--mantine-color-tertiary-5)
  );
  font-family: var(--font-family-cursive);
  font-size: var(--mantine-font-size-lg);
  font-weight: 500;
  color: transparent;

  @mixin dark {
    background-image: linear-gradient(
      to right,
      var(--mantine-color-secondary-1),
      var(--mantine-color-tertiary-3),
      var(--mantine-color-primary-4)
    );
  }
}
