.link {
  text-decoration: none;
  font-family: var(--font-cursive);
  color: var(--mantine-color-primary-1);
  font-size: var(--mantine-font-size-3xl);

  @mixin light {
    color: var(--mantine-color-black);
  }
}
