.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-2xl);
  width: 100%;
  border-bottom: 1px solid var(--mantine-color-secondary-4);
  padding-bottom: var(--mantine-spacing-sm);
}

.link {
}
