.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: var(--mantine-spacing-xl);
}

.image {
  --dimentions: 160px;

  width: var(--dimentions);
  height: var(--dimentions);
  box-shadow: var(--mantine-avatar-shadowDark);
  border-radius: 50%;
  overflow: hidden;
}

.description {
  font-size: var(--mantine-font-size-md);
  text-align: center;
}

.name {
  font-family: var(--font-family-heading);
  font-weight: bold;
}
