.sidebar {
  position: absolute;
  top: 0;
  left: -90%;
  bottom: 0;
  width: 90%;
  background-color: var(--mantine-color-gray-2);
  display: flex;
  flex-direction: column;

  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }

  &__open {
    left: 0;
    box-shadow: 2px 0 8px -2px rgba(0, 0, 0, 0.15);

    @mixin dark {
      box-shadow: 2px 0 8px -2px rgba(255, 255, 255, 0.025);
    }
  }

  @media (min-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.content {
  flex: 1;
}
