.footer {
  display: none;

  @mixin dark {
    background: rgba(255, 255, 255, 0.025);
    border: 0;
  }

  @media (min-width: $mantine-breakpoint-sm) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: var(--mantine-color-gray-1);
    border-top: 1px solid var(--mantine-color-gray-3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}
