.footer {
  display: none;

  @media (min-width: $mantine-breakpoint-xl) {
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    gap: var(--mantine-spacing-xs);
    height: var(--mantine-footer-lg);
  }
}
