.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.link {
  border-radius: var(--mantine-radius-sm);
}

.github {
  background-color: var(--mantine-color-black);
  color: var(--mantine-color-white);

  @mixin dark {
    background-color: var(--mantine-color-white);
    color: var(--mantine-color-black);
  }
}

.linkedin {
  background-color: #0a66c2;
  color: var(--mantine-color-white);
}

.instagram {
  background-image: linear-gradient(
    135deg,
    #7638fa,
    #d300c5,
    #ff0069,
    #ff7a00,
    #ffd600
  );
  color: var(--mantine-color-white);
}
