.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  font-size: var(--mantine-font-size-xl);
  margin-bottom: var(--mantine-spacing-md);
}

.posts_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--mantine-spacing-md);
}

.post-preview {
  &__wrapper {
    background-color: rgba(0, 0, 0, 0.05);
    padding: var(--mantine-spacing-md);
  }
}
