.wrapper {
  position: relative;
}

.image {
  width: 160px;
  opacity: 0.85;
  filter: drop-shadow(3px 3px var(--mantine-color-secondary-7))
    drop-shadow(-3px -3px var(--mantine-color-primary-2));

  @mixin dark {
    filter: drop-shadow(3px 3px var(--mantine-color-secondary-4))
      drop-shadow(-3px -3px var(--mantine-color-tertiary-2));
  }
}

.title {
  color: var(--colour-title);

  @mixin dark {
    color: var(--colour-title-dark);
  }
}
