.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid var(--mantine-color-gray-3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  @mixin dark {
    border-top: 1px solid var(--mantine-color-gray-8);
  }
}
