.wrapper {
  padding: 18px 0;
  background-color: var(--mantine-color-primary-7);
  color: var(--mantine-color-primary-1);

  & > p {
    text-align: center;
  }

  @mixin dark {
    background-color: var(--mantine-color-secondary-1);
    color: var(--mantine-color-secondary-7);
  }
}
